html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1{
  font-size: 60px;
  margin-left: 4px;
}
a{
  display: block;
}
ul,li{
  list-style: none;
}